/* event7 is the first day of classes, not an event, so keep it grey */
/***************************************
 * reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/***************************************
 * general styling
 */
html {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: "RobotoDraft", "Source Sans Pro", sans-serif; }

body {
  width: 100%;
  margin-bottom: 80px;
  /* bottom = footer height */ }

/***************************************
 * header
 */
header {
  position: relative;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px #b2b2b2 solid; }
  @media (min-width: 960px) {
    header {
      margin-bottom: 1%; } }

header .logo {
  width: 20%; }

header h1 {
  text-align: start;
  overflow-x: visible;
  overflow-y: visible; }

header h2 {
  text-align: start;
  overflow-x: visible;
  overflow-y: visible; }

#header a, #header a:hover {
  text-decoration: none;
  color: inherit; }

#header h1 {
  padding-top: 10px;
  margin-bottom: 2px;
  /* fallback for devices without vw */
  font-size: 20px;
  /* make the name scale to fit the viewport's width */
  font-size: 6.04317vw;
  font-weight: bold;
  color: #03940e;
  font-family: "Arvo";
  position: relative; }
  @media (min-width: 960px) {
    #header h1 {
      margin-left: 20px;
      margin-bottom: 0;
      padding-top: 10px;
      font-size: 42px; } }

#header h1:before, #header h1:after {
  content: "Inter-Fellowship Association";
  padding: 10px 0 0 20px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute; }

#header h1:before {
  top: 1px;
  left: 1px; }

#header h1:after {
  top: 2px;
  left: 2px; }

#header h2 {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: 14px;
  font-size: 4.35556vw;
  font-family: Arvo;
  font-weight: normal;
  color: #b2b2b2;
  /* gray */ }
  @media (min-width: 960px) {
    #header h2 {
      margin: 0 0 0 60px;
      padding: 0;
      font-size: 20px;
      font-family: Arvo;
      font-weight: normal; } }

#nav-links ul {
  margin-top: 14px;
  list-style: none;
  overflow: hidden; }
  @media (min-width: 960px) {
    #nav-links ul {
      margin-top: 10px;
      padding: 0;
      overflow: visible;
      list-style: none;
      float: right; } }

#nav-links li {
  width: 50%;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 0;
  float: left;
  list-style: none; }
  @media (min-width: 960px) {
    #nav-links li {
      width: auto;
      margin: 0 50px 0 0;
      padding: 0;
      float: left;
      list-style: none; } }

#nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-family: "Source Sans Pro";
  color: #b2b2b2;
  /* gray */ }
  @media (min-width: 960px) {
    #nav-links a {
      font-size: 14px; } }

#nav-links a.active {
  color: #04970f;
  /* green */ }

#nav-links a:hover {
  color: #71b764;
  /* light green */ }

@media (min-width: 960px) {
  #nav-links:after {
    content: ".";
    visibility: hidden;
    clear: both; } }
.comingsoon {
  position: relative; }

.comingsoon::before {
  content: "Coming soon!";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 0;
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: none;
  color: #bb5e00;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s; }

.comingsoon:hover::before, .comingsoon:active::before {
  height: 1.2em; }

/***************************************
 * footer
 */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 60px;
  margin-left: 2.5%;
  border-top: 1px #b2b2b2 solid;
  font-size: 12px;
  font-family: Arvo;
  color: #b2b2b2; }

footer p.connect {
  margin: 0;
  padding: 5px;
  float: left;
  line-height: 1.4;
  color: #b2b2b2; }

#links {
  margin: 0;
  padding: 5px;
  float: right;
  overflow-x: visible;
  overflow-y: visible; }

#links a {
  text-decoration: none;
  overflow-x: visible;
  overflow-y: visible; }

#links figure {
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow-x: visible;
  overflow-y: visible; }

#links figure img {
  max-height: 24px; }

#links figure#bridge img {
  max-height: 27px; }

#links figure figcaption {
  display: none;
  color: #bb5e00;
  overflow-x: visible;
  overflow-y: visible; }

#links figure#email:hover figcaption {
  position: absolute;
  display: block !important;
  left: -50px;
  top: 5px; }

#links figure#facebook:hover figcaption {
  position: absolute;
  display: block !important;
  left: -110px;
  top: 5px; }

#links figure#bridge:hover figcaption {
  position: absolute;
  display: block !important;
  left: -155px;
  top: 5px; }

/* Article Styles */
article {
  margin-left: auto;
  margin-right: auto;
  padding: 0; }

article h3 {
  margin: 20px 0 5px 0;
  padding: 0 0 0 5px;
  font-size: 24px;
  font-family: Arvo;
  font-weight: normal;
  clear: both; }

article h4 {
  margin: 10px 0;
  padding: 0 0 0 5px;
  font-size: 20px;
  font-family: Arvo;
  font-weight: normal;
  clear: both; }

article h4 a {
  font: inherit;
  color: inherit;
  text-decoration: underline; }

article p {
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Source Sans Pro";
  color: #454545; }

article p.padded {
  margin: 10px 0 0 0; }

article p a {
  color: #5aa64d;
  text-decoration: none; }

article p a:hover {
  color: #71b764;
  text-decoration: underline; }

.col-wrap {
  clear: both; }

.bi-col {
  margin: 0 0px 0 20px;
  display: inline-block;
  width: 425px;
  text-align: left;
  vertical-align: top; }

.tri-col {
  display: inline-block;
  width: 270px;
  text-align: left;
  vertical-align: top; }

.tri-col:nth-child(3n+1) {
  margin: 0 0 0 15px; }

.tri-col:nth-child(3n+2) {
  margin: 0 20px 0 20px; }

.rwd-col {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 84%;
  margin: 0 0 24px 8%; }
  @media (min-width: 600px) and (max-width: 899px) {
    .rwd-col {
      width: 41%; }
      .rwd-col:nth-child(even) {
        margin-left: 2%; } }
  @media (min-width: 900px) {
    .rwd-col {
      width: 27%; }
      .rwd-col:nth-child(3n+2), .rwd-col:nth-child(3n) {
        margin-left: 1%; } }

#fellowship .rwd-col h4, .church-name {
  color: #03940e; }

#fellowship .info-session, .church-notice {
  color: #bb5e00;
  margin-bottom: .5em; }

#fellowship .rwd-col:target {
  border: 2px #ffc992 solid;
  border-radius: 4px;
  animation: PULSE_BORDER 2s 2; }

@keyframes PULSE_BORDER {
  0% {
    border-color: #ffc992; }
  50% {
    border-color: white; }
  100% {
    border-color: #ffc992; } }
.group-name, .church-name {
  margin-bottom: 0; }

.group-detail {
  margin-top: .5em;
  font-size: 18px; }

.group-detail-smaller {
  margin-top: .5em;
  font-size: 16px; }

.group-detail-sub {
  /* no margin, sits right under previous related detail */
  font-size: 14px; }

.church-desc, .church-place {
  margin-top: .5em; }

.church-notice, .church-time, .church-place {
  margin-top: .5em;
  font-size: 18px; }

.church-affiliation, .church-time-mass, .church-distance, .church-shuttle {
  font-size: 14px; }

.church-affiliation::before {
  content: "Affiliated with "; }
.church-affiliation::after {
  content: " on campus"; }

.church-distance {
  font-style: italic; }
  .church-distance::before {
    content: "- ";
    font-style: normal; }
  .church-distance::after {
    content: " mi from CMU"; }

iframe#cal {
  margin: 20px 0 0 0;
  padding: 0 5px;
  width: 99%;
  height: 600px; }

iframe.embed-form {
  margin: auto;
  margin-top: 20px;
  padding: 0 5px;
  width: 90%;
  height: 550px;
  display: block;
  border: 1px solid #ddd;
  background: #fcfcfc;
  -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  text-align: center; }

/* Image Styles */
figure.img-hdr {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  height: 250px;
  background: #777;
  text-align: center; }

figure.img-hdr img {
  max-height: 250px; }

figure.img-bg {
  margin: 20px 0 0 0;
  padding: 10px 0;
  width: 100%;
  background: #777;
  text-align: center; }

figure.img-bg img.margin {
  /* max-height: 230px;*/ }

figure.image {
  margin: 0;
  padding: 10px;
  display: block;
  border: 1px solid #ddd;
  background: #fcfcfc;
  -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
  text-align: center; }

figure.image.right {
  margin-left: 10px;
  float: right; }

figure.image.left {
  margin-right: 10px;
  float: left; }

figure.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px; }

figure.image img.margin {
  max-width: 350px; }

figure.image figcaption {
  margin: 0;
  padding: 10px 0 0 0;
  max-width: 260px;
  font-size: 14px;
  font-family: "Source Sans Pro";
  color: #454545;
  text-align: center; }

/* Map Styles */
#map {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #777; }

.rwd-iframe {
  position: relative;
  width: 95%;
  margin-left: 2.5%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden; }

.rwd-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.rwd-iframe .cal-month-view {
  display: none; }

@media (min-width: 700px) {
  .rwd-iframe .cal-agenda-view {
    display: none; }

  .rwd-iframe .cal-month-view {
    display: block; } }
.home {
  -webkit-tap-highlight-color: rgba(187, 94, 0, 0.5);
  tap-highlight-color: rgba(187, 94, 0, 0.5); }

.panels {
  position: absolute;
  width: 95%;
  /* fallback for browsers that don't support vw */
  top: 190px;
  /* accounts for responsive height of IFA logo */
  top: calc(10vw + 160px);
  left: 2.5%;
  right: 2.5%;
  bottom: 85px; }
  @media (min-width: 960px) {
    .panels {
      top: 110px; } }

.panels-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  @media (orientation: landscape) {
    .panels-content {
      flex-direction: row; } }

.panel--main {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 2%;
  padding: 8px;
  color: white;
  background-image: url(img/ifa_blended.jpg);
  background-size: cover;
  background-position: center;
  background-color: #03940e; }
  @media (min-height: 550px) {
    .panel--main {
      background-position: center 20%; } }
  @media (orientation: landscape) {
    .panel--main {
      margin: 0 1% 0 0; } }

.panel--main p {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px;
  max-width: 380px; }
  @media (orientation: landscape) and (min-width: 960px) and (min-height: 540px) {
    .panel--main p {
      max-width: 760px;
      padding: 16px;
      font-size: 32px;
      line-height: 1.2; } }

.panel--subpanel-container {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: space-between; }

.subpanel {
  display: block;
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  overflow: hidden;
  color: white;
  background-size: cover;
  background-color: #03940e;
  transition: background-color .2s, transform .2s, color .02s; }
  .subpanel:not(:last-child) {
    margin-right: 2%; }

.subpanel:hover {
  transform: scale(1.01); }

.subpanel:active {
  color: #bb5e00; }

.subpanel-fellowships {
  background-image: url(img/fellowship_blended.jpg);
  background-position: 40% center; }

.subpanel-churches {
  background-image: url(img/church_blended.jpg);
  background-position: 60% center; }

.subpanel-acpn {
  background-image: url(img/acpn_blended.jpg);
  background-position: 15% center; }

.subpanel-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  border-radius: 9px;
  font-size: 18px; }
  @media (min-width: 960px) {
    .subpanel-title {
      padding: 16px;
      font-size: 26px; } }

.subpanel:hover .subpanel-title {
  text-decoration: underline; }

.credits {
  position: absolute;
  bottom: 65px;
  left: 2.5%;
  font-size: 12px;
  color: #454545; }

/*# sourceMappingURL=owo.css.map */
